<h2>Eat-Da-Burger</h2>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<h4>Enter a buger you want to eat and click the "submit" button</h4>
